<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script type="text/javascript" src="/js/index.js"></script>
        <link rel="stylesheet" href="/css/index.css"/>
        <link rel="stylesheet" href="/css/navbar.css"/>
    </head>
    <body>
        <div id="page">
          {% include './navbar.twig' %}  
            <div id="main-content">
                <div id="top-content">
                  <h1>BTrade</h1>
                  <h3>Reading is FunDamental</h2>
                  <i class="fa fa-book fa-6" aria-hidden="true"></i>
                </div>
                <br/>
                <br/>
                <div id="bottom-content">
                    <div id="features">
                        <h2>Features: </h2>
                        <hr/>
                        <div class="feature">
                            <h4>Register for a free account, and login anytime.</h3>
                        </div>
                        <div class="feature">
                            <h4>Add the books you own to your book library.</h3>
                        </div>
                        <div class="feature">
                            <h4>View all the books that other users have posted.</h3>
                        </div>
                        <div class="feature">
                            <h4>Request to trade a user for their book, or cancel the request if you don't want it anymore.</h3>
                        </div>
                        <div class="feature">
                            <h4>Accept or deny trades other users have proposed.</h3>
                        </div>
                  </div>
                  <hr/>
                </div>
            </div>
        </div>
    </body>
</html>